<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Matriz de Confusão</title>
</head>
<body>
    <h1>Gerador de Matriz de Confusão</h1>
    <form action="/result" method="post">
        <label for="random_state">Random State:</label>
        <input type="number" name="random_state" required>
        <br>
        <label for="classifier_name">Nome do Classificador:</label>
        <select name="classifier_name" required>
            <option value="KNN">KNN</option>
            <option value="SVM">SVM</option>
            <option value="MLP">MLP</option>
            <option value="DT">DT</option>
            <option value="RF">RF</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
